@tailwind base;
@tailwind components;
@tailwind utilities;

/* その他のカスタムスタイルがあればここに追記 */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
  background-color: #f4f7f9; /* 背景色を設定 */
}